@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{
    --primary-color:#d90429;
    --secondary-color:#14213d;
    --ow-font-color:#edf2f4;
    --font-color:#2b2d42;
    /* --border-color:#2b2d42;   */
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

#page{
    display: grid;
    /* max-width:800px; */
    width:100%;  
    height:100%;
    grid-template-areas: "header header"
                        "navigation main"
                        "footer footer";
    grid-template-rows: 50px 2fr 1fr;
    grid-template-columns: 270px 4.5fr;
}

#page .header{
    grid-area:header;
    border-bottom: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    width:100% ;
    /* color: var(--font-color); */
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 1.5rem;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav__menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.nav__item{
    margin-left:5rem;
}

.nav__link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--ow-font-color);
}

.nav__link:hover{
    /* color: #482ff7; */
    color:var(--secondary-color);
}

.nav__logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--secondary-color);
    /* color:#ffba08; */
}

@media only screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        left: -100%;
        top: 6.1rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav__link{
        color:var(--secondary-color)
    }
    .nav__link:hover{
        color:var(--primary-color)
    }

    .nav__menu.active {
        left: 0;
    }

    .nav__item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}
.navigation, .main, .footer{
    font-size: 1.5rem;
    font-weight: 400;
    color:var(--font-color);
    padding:1rem 1.5rem;
}

#page .navigation{
    grid-area:navigation;
    border-bottom:1px solid var(--font-color);
}

.nav__components{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color:var(--secondary-color);
    cursor:pointer;
    padding:2rem;
}

#nav__components{
    padding:2rem;
}

.nav_avatar:hover,.nav__badge:hover,.nav__alerts:hover,.nav__button:hover,.nav__cards:hover,.nav__alerts:hover,.nav__modal:hover{
    color: var(--primary-color);
}

#page .main{
    grid-area:main;
    width:100%;
    padding:4rem;
    border-left:1px solid var(--font-color);
    border-bottom:1px solid var(--font-color);
}

.main__components{
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
}

.avatars{
    display: flex;
    max-width:600px;
    /* width:400px; */
    justify-content:space-between;
    align-items:center;
    /* border-bottom:1px solid var(--font-color); */
}

/* Image avatars */
.avatars>.avatar1{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.avatars>.avatar2{
    width:75px;
    height:75px;
    border-radius: 50%;
}
.avatars>.avatar3{
    width:100px;
    height:100px;
    border-radius: 50%;
}

/* Alphabetical avatars */
.aplhabetical__avatars{
    display: flex;
    /* width:400px; */
    max-width:600px;
    justify-content:space-between;
    align-items:center; 
}

.aplhabetical__avatars>.avatar1{
    background-color: #80ffdb;
    width:50px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
}

.aplhabetical__avatars>.avatar2{
    background-color: #56cfe1;
    width:75px;
    height:75px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    font-size:x-large;
}

.aplhabetical__avatars>.avatar3{
    background-color: #5390d9;
    width:100px;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    font-size: xx-large;
}

/* Badge on avatars */
.avatar__Badge{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width:600px;
}
.badge{
    height:80px;
}
/* top and bottom works only when you have a fixed height */
.avatar__Badge .avatar1{
    width:75px;
    height:75px;
    border-radius: 50%;
}
.badge1{
    position:relative;
    /* right:77%;
    top:81%; */
    left:70%;
    bottom:20%; 
    background-color: rgb(23, 189, 23);
    width:13px;
    height:13px;
    border-radius: 50%;
    border:1.2px solid #fff;
}

.avatar__Badge .avatar2{
    background-color: #56cfe1;
    width:75px;
    height:75px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
} 

.avatar__Badge .badge2{
    background-color: var(--primary-color);
    font-weight: bold;
    color:#edf2f4;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 16px;
    height:16px;
    border-radius: 50%;
    border:1.2px solid #fff;
    position:relative;
    left:70%;
    bottom:20%; 
}

#circle__badge{
    border:5px solid red;
}

/* Badge on icons */
.icon__badge{
    display: flex;
    justify-content:space-between;
    align-items:center;
    max-width:600px;
}

/* top/bottom prop of position works only when the parent has height */
.icon__badge__container{
    height:70px;
}

.icon__badge .envelope{
    background-color: var(--primary-color);
    color:var(--ow-font-color);
    padding:5px 10px;
    border-radius: 50%;
    border:1px solid var(--ow-font-color);
    /* clip-path: circle(); */
    position:relative;
    right:10%;
    bottom:57%;
    
}

.icon__badge .bell{
    background-color: var(--ow-font-color);
    color:var(--primary-color);
    padding:5px 10px;
    border-radius: 50%;
    border:1.5px solid var(--secondary-color);
    /* color:red; */
    position:relative;
    right:30%;
    bottom:57%;
}

.icon__badge .cart{
    background-color: var(--primary-color);
    color:var(--ow-font-color);
    padding:5px 10px;
    border-radius: 50%;
    border:1.5px solid var(--ow-font-color);
    /* color:red; */
    position:relative;
    right:10%;
    bottom:52%;
}


/* Alerts */

/* Error alert */
.error__alert{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(253, 236, 234);
    padding:1rem;
    color:rgb(97, 26, 21);
    margin: 8px 0px; 
}
.error__icon{
    fill:#f44336;
    width:2em;
    height:2em;
}
/* Warning Alert */
.warning__alert{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(255 244 229);
    padding:1rem;
    color:rgb(102 60 0);
    margin: 8px 0px; 
}
.warning__icon{
    fill:#ff9800;
    width:2em;
    height:2em;
}
/* Info Alert */
.info__alert{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(232, 244, 253);
    padding:1rem;
    color:rgb(13, 60, 97);
    margin: 8px 0px;  
}
.info__icon >svg{
    fill:#2196f3;
    width:2em;
    height:2em;
}
/* Success Alert */
.success__alert{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(237 247 237);
    padding:1rem;
    color:#4caf50;
}
.success__icon>svg{
    fill:#4caf50;
    width:2em;
    height:2em;
}

.info{
    padding: 8px 0;
}
.msg{
    margin-top:5px;
}
.closebtn{
    font-weight: bold;
    align-self: flex-start;
    cursor:pointer;
    font-size:20px;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
  }

  /* Button */
  /* Contained Button */
  .contained__button{
      display: flex;
      align-items: center;
  }
  .btn{
    padding:1rem;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    margin-left:3rem;
    cursor:pointer;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  }

  .primary__button:hover {
    color:#fae1dd;
  }
  .primary__button{
    width:85px;
      background-color: var(--primary-color);
      color:var(--ow-font-color);
  }

  .btn+.secondary__button{
      width:11rem;
  }
  .secondary__button:hover{
      color:#e2eafc;
  }
  .secondary__button{
    background-color: var(--secondary-color);
    color:var(--ow-font-color);
  }

/* outlined__button */
.outlined__button{
    display: flex;
    align-items: center;
}

.outlined__button>.primary__button{
    background-color: #f8f0ee;
    color:var(--primary-color);
    border:2px solid var(--primary-color);
}

.outlined__button>.secondary__button{
    background-color: #e2eafc;
    color:var(--secondary-color);
    border:2px solid var(--secondary-color);
}
/* Links */
.links{
    display: flex;
    align-items:center;
}
.link{
    padding:1rem;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    margin-left:3rem;
    cursor:pointer;
}
.primary__link{
    width:85px;
    background-color: var(--primary-color);
    color:var(--ow-font-color);
}
.secondary__link{
    width:11rem;
    color:var(--primary-color);
    background-color: var(--ow-font-color);
    border:2px solid var(--primary-color);
}
/* floting action button */
.floating__action__button{
   width: 70px;
   height: 70px;
   background-color: var(--primary-color);
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   transition: all 0.1s ease-in-out;
   color:var(--ow-font-color);
   
   font-size: 20px;
   color: white;
   text-align: center;
   line-height: 70px;

   position: fixed;
   right: 50px;
   bottom: 50px;
}

.floating__action__button:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.1);
 }

/* Cards */
/* Vertical Card */
 .card{
     /* border:1px solid black; */
     width:315px;
     height:500px;
     
 }
 .card:hover{
    box-shadow:5px 10px 10px 7px #888888;
 }
 .card__description{
    margin:0;
    padding:1rem 2rem;
    background-color: var(--ow-font-color);
 }
 
 .details{
     color:var(--primary-color);
 }

 /* card badge */
 .badge__container{
     position: relative;
 }
.card__badge{
    background-color: rgb(236, 213, 213);
    display:inline-block;
    padding:5px 10px;
    border-top-right-radius:15px;
    border-bottom-right-radius: 15px;
    position:absolute;
    bottom:38rem;
}

/* horizontal card with over lay */
.card__horizontal{
    width: 400px;
    height:380px;
}
.card__horizontal:hover{
    box-shadow:5px 10px 10px 7px #f1cae2;
}
.horiztal__card{
    width:400px;
    height:300px;
}
.card__overlay{
    position:relative;
}
.overlay__text{
    position:absolute;
    bottom:130px;
    left:30px;
    /* right:2px; */
}

/* Card with dismiss */
.dismiss{
    position:relative;
}
.dismiss .closebtn{
    position: absolute;
    bottom:355px;
    left:380px;
}
.dismiss .closebtn :hover{
    color:var(--primary-color);
}

/* Text only card */
.text__card{
    width:40rem;
    height:20rem;
    padding:2rem;
    border:1px solid black;
    box-shadow:13px 13px 21px -5px rgb(0 0 0 / 30%);
}

.text__content>h3{
    padding:1rem 0;
}
.text__content>h4{
    padding-bottom:1rem;
}

/* Responsive Image */
/* On screens that are 768px wide or more, apply this */
.round__img{
    border-radius: 50%;
}
@media only screen and (min-width: 768px) {
.responsive__img{
    width:384px;
    height:277px;
}}

@media screen and (max-width: 768px) {
    .round__img{
        width:142px;
        height:142px;
    }
  }


/* Modal */
#openBtn{
    padding:1rem;
    background-color: var(--ow-font-color);
    color:var(--primary-color);
    border:2px solid var(--primary-color);
    border-radius: 5px;
}

#openBtn:hover{
    color:var(--secondary-color);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal__content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .modal__text{
      padding:1rem;
  }
  
  .close {
    color: #7a7474;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

 .close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Footer */
#page .footer{
    grid-area:footer;
}

